<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<!--加上以下节点，避免Get请求时（默认只支持HttpPost）报错：因 URL 意外地以“/GetStudent”结束，请求格式无法识别。-->
		<webServices>
			<protocols>
				<add name= "HttpPost" />
				<add name= "HttpGet" />
			</protocols>
		</webServices>
	</system.web>
	<appSettings>

		<!--<add key="ConnectionString" value="server=.;database=InfoWebDB;Uid=sa;Pwd=123456"/>-->
		<add key="ConnectionString" value="14405E278F733CDDBA666E0142DDF083145E68193E655288DA3A5A1F543DBE841A95FFEC138976CDD839B816A9883358"/>
		<add key="ZNDD1" value="14405E278F733CDDBA666E0142DDF083BF90C395526B5A4F832C2D8823328A120DF7637CCBA68053EA22C4FE59AD4CF0"/>
		<add key="ZNDD2" value="0307D64C43D5C00518AE50056DA712D9105C95135761AFDA27E6A479D931E767B2212AB38B52D9CC6780C36D80FB7385A2692DE40185C6028A8B16B824E9A298918DD8187DA4F0E8"/>
		<add key="DES" value="true"/>

	</appSettings>
	<connectionStrings>
		<add name="db1" connectionString="Data Source=.;Initial Catalog=PSSDB;User ID=sa;Password=123456;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
